/**
 * 1.0 Reset
 */
@font-face {
	src: url('fonts/NanumSquareR.ttf');
	font-family: NanumSquareR;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: NanumSquareR;
}

a {
	color: inherit;
	text-decoration: none;
}

label,
button {
	cursor: pointer;
}

p {
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}