body{
	margin:0px;
	background-color: gray;
}
button{
    color: black;
    border: 2px outset white;
    background: #eee;
    padding: 2px;
    text-decoration: none;
    width:120px;
    height: 30px;
}
button:hover {
    background: #f5f5f5;
}
button:active {
    border-style: inset;
}

#main_frame{
	background-color: white;
	display: inline-block;
	position: absolute; 
	margin-left: -500px;
	width:1000px;
	height:560px;
	left: 50%;
    top: 50%;
    transform: translateY(-50%);
	border:1px solid black;
}

#logo{
	display: block;
	margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#logo2{
	display: block;
	margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#qwer{
	text-align: center;

}

#start_b{

}

#help_b{

}

#exit_b{

} /* index amd start */

#inbox{
    display: inline-block;
    height: 500px;
    background-color: gray;

}