body{
	margin:0px;
	background-color: gray;
}

.question{
	font-family: 'Jua', sans-serif;
	width: 1000px;
	height: 140px;
	background-color: rgb(0,0,0,0.5);
	text-align: center;
	position: relative;
	color: white;
	font-size: 30px;
	
}

.font_ani{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
    position: absolute;
    text-align: center;
    top:50%;
	left: 50%;
	width: 600px;
	height: 50px;
	margin-left: -300px;
	margin-top: -25px;
}
#btn_align{
	position: absolute;
	top:230px;
	left:230px;
}
.btn_degin{
	margin-right: 20px;
	width: 260px;
	height: 85px;
	border-radius: 5px;
	background-color: #72a1ff;
	color: white;
	font-size: 13px;
}

#left_align{
	position: absolute;
	top:200px;
	left:220px;
}

#right_align{
	position: absolute;
	top:200px;
	right:300px;
}

#main_frame{
	background-image: url('4selcted.jpg');
    background-size: cover;
	display: inline-block;
	position: absolute; 
	/*margin-top:75px;*/
	margin-left: -500px;
	/*margin-bottom: 100px;*/
	top: 50%;
	transform: translateY(-50%);
	width:1000px;
	height:560px;
	left: 50%;
	border:1px solid black;
    -webkit-animation:blink 1.5s ease-in-out alternate;
    -moz-animation:blink 1.5s ease-in-out alternate;
    animation:blink 1.5s ease-in-out alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#qwer{
	text-align: center;

}
