body{
	margin:0px;
	background-color: gray;
}


#main_frame{
	background-image: url(over.jpg);
    background-size: cover;
	display: inline-block;
	position: absolute; 
	margin-left: -500px;
	width:1000px;
	height:560px;
	left: 50%;
    top: 50%;
    transform: translateY(-50%);
	border:1px solid black;
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#qwer{
	text-align: center;

}

#inbox{
    display: inline-block;
    height: 500px;
    background-color: gray;

}